
a.nav-link {
    color: gray;
    font-size: 18px;
    padding: 0;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e84118;
    padding: 2px;
    flex: none;
}

input:focus {
    outline: 0px !important;
    box-shadow: none !important;
}

.card-text {
    border: 2px solid #ddd;
    border-radius: 8px;
}

.dropdown-menu.show {
    display: block;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#icon-list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1000;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#icon-list.show {
    display: block;
}

#icon-list button {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#icon-list button:hover {
    background-color: #f0f0f0;
}

.search-section {
    margin-top: 20px;
    text-align: center;
}
.search-input {
    width: 300px;
    margin-bottom: 10px;
}
.search-button {
    margin-left: 5px;
}

/* Estilo para el navbar lateral */
.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar .search-input {
    width: calc(100% - 20px);
    margin: 0 auto;
    margin-bottom: 10px;
}

.sidebar .search-button {
    margin-left: 5px;
}

.chat-content {
    margin-right: 320px; /* Ancho del navbar lateral + 20px de margen */
}