/*--------------- Navbar ------------------*/

/* Barra lateral */
.navbar {
  position: fixed; /* Fija navbar  */
  top: 0; /* distancia parte superior  */
  left: 0; /* distancia desde el borde izquierdo  */
  bottom: 0; /* distancia desde la parte inferior  */
  width: 215px; /* Ancho navbar */
  padding-top: 20px; /* Espacio parte superior navbar */
  background-color: #333; /* fondo navbar */
}

/* Posicion links */
.navbar-nav {
  width: 200px; /* Ancho  navbar */
  position: fixed; /* Fija navbar */
  top: 150px; /* distancia parte superior */
  bottom: 0; /* distancia desde la parte inferior */
}

/* Links  */
.nav-link {
  text-decoration: none; /* Sin subrayar */
  color: white; /* Color enlace */
  padding: 10px 20px; /* Espacios enlaces */
}

/*--------------- Tarjetas ------------------*/
.container {
  margin-left: 400px; /* Espacio a la izq del contenedor */
}

.custom-card-img {
  height: 250px; /* Altura imagen en las tarjetas */
  object-fit: cover; /* Cubre el contenedor */
}

a {
  text-decoration: none; /* Sin subrayar */
}

/*--------------- Pie de pagina------------------*/
.copyright {
  position: absolute; /* Posición absoluta */
  bottom: 0; /* Fijar parte inferior */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-40%); /* Ajustar centro horizontal */
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Alinea al centro */
}

.credits {
  position: absolute; /* Posición absoluta  */
  bottom: 20px; /* Fijar y ajustar parte inferior  */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-40%); /* Ajustar al centro horizontal */
  width: 100%; /* Ocupa todo el ancho */
  text-align: center; /* Alinea al centro */
  font-size: 13px; /* Tamaño de letra */
}
