{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Break - ¿Olvidaste tu contraseña?</title>

  <!-- Icono de sitio -->
  <link href="{% static 'redsocial/img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Archivos CSS -->
  <link href="{% static 'redsocial/bts/aos/aos.css' %}" rel="stylesheet"> <!-- Animacion del inicio -->
  <link href="{% static 'redsocial/bts/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'redsocial/bts/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'redsocial/bts/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

  <!-- Llama a hoja de estilo -->
  <link href="{% static 'redsocial/css/stylelogin.css' %}" rel="stylesheet">

</head>

<body>
  <!-- Olvidaste tu contraseña -->
  <div class="vh-100">
    <div class="container h-custom">
      <div class="row justify-content-center align-items-center h-100">

        <!-- Logotipo -->
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{% static 'redsocial/img/Logo 3.png' %}" class="img-fluid" alt="Logo redsocial">
        </div>

        <!-- Formulario recuperar contraseña -->
        <div class="col-lg-6 col-xl-4">
          <form>
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">¿Olvidaste tu contraseña?</p>
            </div>

            <!-- Ingresar Email -->
            <div class="form-group">
              <label class="form-label" for="formEmail">Email</label>
              <input type="email" id="formEmail" class="form-control form-control-lg" placeholder="Ingresar email registrado">
            </div>

            <!-- ENTER -->
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg custom-button">Recuperar</button>

              <!-- Enlace para iniciar sesión -->
              <p class="small fw-bold mt-2 pt-1 mb-0">¿Recuerdas tu contraseña? <a href="{% url 'login' %}" class="link-danger">Iniciar sesión</a></p>
            </div>

          </form>
        </div>
      </div>
    </div>

    <!-- Pie de página -->
    <div class="custom-footer text-center text-md-start py-4 px-4 px-xl-5">
      <!-- Copyright -->
      <div class="text-white">
        Copyright redsocial. All Rights Reserved
      </div>
    </div>
  </div>
  <!-- FIN Olvidaste tu contraseña -->

  <!-- atras -->
  <a href="{% url 'index' %}" class="back-to-home d-flex align-items-center justify-content-center" title="Volver a Inicio">
    <i class="bi bi-arrow-left-circle-fill"></i>
  </a>

  <!-- bts JS archivos -->
  <script src="{% static 'redsocial/bts/aos/aos.js' %}"></script>
  <script src="{% static 'redsocial/bts/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Archivo main de Javascript (Funcionalidades)-->
  <script src="{% static 'redsocial/js/main.js' %}"></script>
</body>

</html>
