{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Break - Iniciar sesión</title>

  <!-- Icono de sitio -->
  <link href="{% static 'redsocial/img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
     
  <!-- Archivos CSS Files -->
  <link href="{% static 'redsocial/css/aos.css' %}" rel="stylesheet"> <!-- Animacion del inicio -->
    
  <link href="{% static 'redsocial/css/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap -->
            
  <link href="{% static 'redsocial/css/bootstrap-icons.css' %}" rel="stylesheet"> <!-- Bootstrap iconos -->
    
     
  <!-- Llama a hoja de estilo -->
  <link href="{% static 'redsocial/css/stylelogin.css' %}" rel="stylesheet">
</head>

<body>
  <!-- Login -->
  <div class="vh-100">
    <div class="container h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{% static 'redsocial/img/Logo 3.png' %}" class="img-fluid" alt="Logo redsocial">
        </div>

        <!-- Formulario de Inicio de Sesión -->
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post">
            {% csrf_token %}
            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            {% if form.non_field_errors %}
                <div>
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button type="submit">Iniciar Sesión</button>
        </form>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 custom-footer">
    
      <!-- Pie de Página -->
      <div class="text-white mb-3 mb-md-0">
        Copyright redsocial. All Rights Reserved
      </div>
    </div>
  </div>
  <!-- FIN login -->


  <!-- atras -->
  <a href="{% url 'index' %}" class="back-to-home d-flex align-items-center justify-content-center" title="Volver a Inicio">
    <i class="bi bi-arrow-left-circle-fill"></i>
  </a>

  <!-- Modal -->
<div class="modal fade" id="modalBienvenido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¡Bienvenido a redsocial!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¡Gracias por visitarnos! Por favor, inicia sesión para acceder a tu cuenta.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Jquery para activar el script del modal-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Activación del modal -->
<script>
  $(document).ready(function() {
    $('#modalBienvenido').modal('show');
  });
</script>

  <!-- Archivos JS -->
  <script src="{% static 'redsocial/js/aos.js' %}"></script>
  <script src="{% static 'redsocial/js/bootstrap.bundle.min.js' %}"></script>
  
  <!-- Archivo main y validacion de Javascript (Funcionalidades)-->
  <script src="{% static 'redsocial/js/main.js' %}"></script>
  <script src="{% static 'redsocial/js/validacion.js' %}"></script>
</body>

</html>
