{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Break - Registrarse</title>

  <!-- Enlace al archivo de validaciones JavaScript -->
  <script src="{% static 'redsocial/js/validacion.js' %}"></script>

  <!-- Icono de sitio -->
  <link href="{% static 'redsocial/img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Archivos externos CSS Files -->
  <link href="{% static 'redsocial/bts/aos/aos.css' %}" rel="stylesheet"> <!-- Animacion del inicio -->
  <link href="{% static 'redsocial/bts/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'redsocial/bts/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'redsocial/bts/boxicons/css/boxicons.min.css' %}" rel="stylesheet">


  <!-- Llama a hoja de estilo -->
  <link href="{% static 'redsocial/css/stylelogin.css' %}" rel="stylesheet">

</head>

<body>
<!-- Login -->
<div class="vh-100">
    <div class="container h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{% static 'redsocial/img/Logo 3.png' %}" class="img-fluid" alt="Logo redsocial">
        </div>

        <!-- Formulario de Registro -->
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post">
            {% csrf_token %}
            <div>
                {{ form.rut.errors }}
                <label for="{{ form.rut.id_for_label }}">RUT:</label>
                {{ form.rut }}
            </div>
            <div>
                {{ form.nombre.errors }}
                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                {{ form.nombre }}
            </div>
            <div>
                {{ form.apellido_paterno.errors }}
                <label for="{{ form.apellido_paterno.id_for_label }}">Apellido Paterno:</label>
                {{ form.apellido_paterno }}
            </div>
            <div>
                {{ form.apellido_materno.errors }}
                <label for="{{ form.apellido_materno.id_for_label }}">Apellido Materno:</label>
                {{ form.apellido_materno }}
            </div>
            <div>
                {{ form.fecha_nacimiento.errors }}
                <label for="{{ form.fecha_nacimiento.id_for_label }}">Fecha de Nacimiento:</label>
                {{ form.fecha_nacimiento }}
            </div>
            <div>
                {{ form.id_rol.errors }}
                <label for="{{ form.id_rol.id_for_label }}">Rol:</label>
                {{ form.id_rol }}
            </div>
            <div>
                {{ form.id_genero.errors }}
                <label for="{{ form.id_genero.id_for_label }}">Género:</label>
                {{ form.id_genero }}
            </div>
            <div>
                {{ form.telefono.errors }}
                <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                {{ form.telefono }}
            </div>
            <div>
                {{ form.email.errors }}
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div>
                {{ form.direccion.errors }}
                <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
                {{ form.direccion }}
            </div>
            <div>
                {{ form.activo.errors }}
                <label for="{{ form.activo.id_for_label }}">Activo:</label>
                {{ form.activo }}
            </div>
            <button type="submit">Registrar</button>
        </form>
        </div>
      </div>
    </div>

    <!-- Pie de página -->
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 custom-footer">
      
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright redsocial. All Rights Reserved
      </div>
    </div>
  </div>
  <!-- FIN Registro -->


  <!-- atras -->
  <a href="{% url 'index' %}" class="back-to-home d-flex align-items-center justify-content-center" title="Volver a Inicio">
    <i class="bi bi-arrow-left-circle-fill"></i>
  </a>

  <!-- Archivos js -->
  <script src="{% static 'redsocial/js/aos/aos.js' %}"></script>
  <script src="{% static 'redsocial/js/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Archivo main de Javascript (Funcionalidades)-->
  <script src="{% static 'redsocial/js/main.js' %}"></script>
</body>

</html>
